.navbar {
    display: flex;
    justify-content: center;
    margin-block-start: 10px;
    padding-right: 10px;
}

.menu-conatiner {
    display: flex;
    align-items: center;
}

.menu-icon {
    display: none;

}

.icon-menu-option {
    display: none;
}

.gsc {
    display: flex;
    align-items: center;
    outline-width: none;
}


@media (max-width: 768px) {
    .menu-conatiner {
        display: none;
        justify-content: end;
        margin: 20px;
        align-items: center;
    }

    .menu-conatiner .Link {
        text-decoration: none;
    }

    .navbar {
        /* background-color: rgb(226, 107, 43); */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5px;
    }

    .menu-icon {
        display: flex;
        align-items: center;
    }

    .icon-menu-option {

        position: absolute;
        top: 80px;
        right: 5px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }


}